<StackLayout class="p-20">
    <Button text="Select image" (tap)="onTap()"></Button>
    <Button text="Take picture" (tap)="takePhoto()"></Button>
    
    <GridLayout >
        <ListView id="listviewid" [items]="imagesArray" class="list-group">
            <template let-item="item" let-odd="odd" let-even="even">
              <StackLayout>
                <Image [src]="item.imgsource"></Image>
              </StackLayout>
            </template>
        </ListView>
    </GridLayout>
    
</StackLayout>